@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSansBold'),
          url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
          url('../fonts/OpenSans-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSansRegular'),
          url('../fonts/OpenSans-Regular.woff2') format('woff2'),
          url('../fonts/OpenSans-Regular.woff') format('woff');
 }

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSansBold'),
          url('../fonts/OpenSans-Bold.woff2') format('woff2'),
          url('../fonts/OpenSans-Bold.woff') format('woff');
    }


* {
	box-sizing: border-box;
}

:root {
    --main-header-color: #FFFFFF;
    --main-text-color: #333333;
    --secondary-color: #C283F3;
    --focus-color: #7943A4;
}

h2 {
  margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    overflow: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
}

.container {
    max-width: 1630px;
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;
  }



  /* section-hero */

.hero__container {
  margin-bottom: 200px;
  color: var(--main-header-color);
  background-color: transparent;
}

.section-hero .swiper-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.hero-wrapper .swiper-slide-active  {
    animation: bobble 40s infinite;
}
    @keyframes bobble {
    0% {
        transform: scale(1);
        animation-timing-function: linear;
    }
    50% {
        transform: scale(1.1);
        animation-timing-function: linear;
    }
    100% {
        transform: scale(1);
    }
}

@keyframes subscr {
  0% {
    transform: scale(0.98);
  }

  100% {
    transform: scale(1);
  }
}



.slide1,
.slide2,
.slide3 {
  height: 800px;
  width: 100%;
  }


.slide1 {
    background: url('../img/birmingham-museums-trust-MK_98NuC4-4-unsplash1.png') no-repeat;
    background-size: cover;
    background-position: center center;
  }

.slide2 {
    background:  url('../img/birmingham-museums-trust-MK_98NuC4-4-unsplash2.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
  }

.slide3 {
    background: url('../img/birmingham-museums-trust-MK_98NuC4-4-unsplash3.png') no-repeat;
    background-size: cover;
    background-position: center center;
  }


  .hero__content {
   position: relative;
   top: 70px;
   z-index: 2;
}

.section-hero__title {
    font-weight: bold;
    font-size: 71px;
    color: var(--main-header-color);
    width: 580px;
    margin-bottom: 24px;
}

.section-hero__discription {
    font-weight: bold;
    font-size: 18px;
    line-height: 29px;
    color: var(--main-header-color);
    padding-right: 65%;
    margin-bottom: 6%;
}

.section-hero__btn {
    width: 314px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    padding: 21px 0;
    margin-bottom: 5%;
    text-align: center;
    color: var(--main-header-color);
    background: #9D5CD0;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    transition: color .3s ease-in-out
}

.section-hero__btn:hover {
    outline: none;
    background-color: var(--secondary-color);
    box-shadow: 0 0 0 2px;
    border: 2px var(--secondary-color);
    border: 100px;
}

.section-hero__btn:focus {
    background-color: var(--focus-color);
    box-shadow: none;
    border: 100px;
}

   /* section-do */

.section-do {
  margin-bottom: 33px;
}

.section-do__title {
    margin-bottom: 21px;
    font-weight: normal;
    font-size: 47px;
    line-height: 50px;
    color: var(--main-text-color);
}

.section-do__text {
  font-size: 16px;
  line-height: 32px;
  color: var(--main-text-color);
  padding-right: 32.1%;
  margin-bottom: 40px;
}

/* footer */
.footer {
  padding-top: 48px;
  padding-bottom: 45px;
  background: #000;
}

.footer-contain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.footer__social-list {
  width: 10.9%;
  display: flex;
}

.footer__social-item {
  margin-right: 19px;
  }

.footer__social-item a  {
  width: 46px;
  height: 46px;
  display: block;
  }

  .vk {
  background: url('../img/vk.svg') no-repeat;
  background-size: cover;
  }

  .instagram {
    background: url('../img/instagram.svg') no-repeat;
    background-size: cover;
  }

  .facebook {
    background: url('../img/fb.svg') no-repeat;
    background-size: cover;
  }

  

  @media (max-width: 1600px) {
    .footer {
      padding-right: 20px;
    }

    .footer__social-list {
      width: 20.9%;
    }
  }






/* body max-width 1024px */

@media (max-width: 1024px) {
  .container {
    padding: 0 50px;
  }

  .hero__container {
    margin-bottom: 157px;
  }

  .hero__content {
    top: 40px;
  }

    .slide1,
    .slide2,
    .slide3 {
      height: 768px;
    }

   .section-hero__title {
    font-size: 71px;
    margin-bottom: -4px;
    }

    .section-hero__discription {
     padding-right: 26%;
     font-size: 18px;
    line-height: 31px;
      margin-bottom: 14.5%;
    }

  

      /* section-do */

    .section-do {
      margin-bottom: 31px;
    }

    .section-do__text {
      font-size: 16px;
      line-height: 32px;
      padding-right: 1%;
     }

     .footer {
      padding-top: 41px;
      padding-bottom: 28px;
     }


    .footer__logo-img {
      width: 173px;
      height: 39.9px;
    }

    .footer__social-list {
        width: 24.3%;
    }

    .footer__social-item {
      margin-right: 30px;
  }

    .footer__social-item a {
      width: 60px;
      height: 60px;
    }
}


@media (max-width: 768px) {
 .footer__social-list {
  width: 38%;
 }
}


/* body max-width 768px */

@media (max-width: 768px) {
  .hero__container {
    margin-bottom: 103px;
}
    .slide1,
    .slide2,
    .slide3 {
        height: 768px;
    }

    .section-hero__title {
       margin-right: 20%;
    }

    .section-hero__discription {
       padding-right: 1%;
       margin-bottom: 19.5%;
    }

    .section-hero__btn {
    padding: 23px 0;
    margin-bottom: 15%;
    }

}

/* * body max-width 600px */

@media (max-width: 680px) {
.hero__container {
    padding-bottom: 459px;
  }

  .slide1,
  .slide2,
  .slide3 {
    max-height: 670px;
  }

 .section-hero__title {
    font-size: 52px;
    width: 430px;
  }

  .footer-contain {
    display: block;
  }

.footer__logo-img {
  margin-bottom: 20px;
}

}


/* * body max-width 414px */

@media (max-width: 414px) {

    .slide1,
    .slide2,
    .slide3 {
        width: 100%;
        height: 510px;
        background-size: cover;
    }

   .section-hero__title {
       width: 300px;
       left: 60px;
       top: 32px;
       font-size: 40px;
       line-height: 58px;
    }

    .section-hero__discription {
        left: 60px;
        top: 181px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }

    .section-hero__btn {
        width: 200px;
        padding: 10px 0;
        left: 60px;
        top: 285px;
        font-size: 12px;
    }

      /* section-do */
    .section-do {
        padding-left: 60px;
    }

    .section-do__title {
        margin-bottom: 10px;
        font-size: 40px;
        line-height: 38px;
    }

    .section-do__text {
        padding-right: 17px;
        font-size: 15px;
        line-height: 28px;
    }
}

  /* body max-width 375px  */

@media (max-width: 375px) {
  .hero__container {
    padding-bottom: 259px;
  }

  .slide1,
  .slide2,
  .slide3 {
     height: 355px;
  }

 .section-hero__title {
    left: 30px;
    top: 32px;
    width: 260px;
    margin-right: 10%;
    font-size: 33px;
    line-height: 38px;
    text-align: center;
  }

.section-hero__discription {
    top: 132px;
    left: 26px;
  }

.section-hero__btn {
    left: 30px;
}
.section-do {
   padding-left: 0;
   margin-bottom: -1px;
}

.section-do__title {
   margin-bottom: 14px;
   font-size: 28px;
   line-height: 38px;
}

.section-do__text {
   padding-right: 1px;
   font-size: 14px;
   line-height: 28px;
  }
}


/* body max-width 320px */

@media (max-width: 320px) {
  .container {
    padding: 0 15px;
}

.section-hero {
  margin-bottom: 7px;
}

.hero__container {
  margin-bottom: 20px;
}

.hero__content {
  top: -10px;
  padding-left: 15px;
  text-align: center;
}


.section-hero__title {
  font-size: 32px;
  margin-bottom: 5px;
}

.section-hero__discription {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 15%;
}

.section-hero__btn {
  padding: 8px 0;
  font-size: 12px;
  margin-right: 20px;
}

.footer {
  padding-top: 20px;
  padding-bottom: 6px;
  margin-top: -11px;
}

.footer-contain {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  padding-left: 41px;
}

.footer__social-list {
  margin-bottom: 20px;
}

.footer__social-item a {
  width: 50px;
  height: 50px;
}

.footer__logo {
  padding-left: 57px;
}

.footer__logo-img {
  width: 96.8px;
  height: 21.67px;
}
}
